.container-top{
    .ant-back-top-inner{
        width: 40px;
        height: 40px;
        display: block;
        background: #000;
        right: 20px;
        bottom: 10%;
        position: fixed;
        color: #fff;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }
     .u-navbar-nav{
        margin-left: calc(50% - 230px)!important;
        li{
            padding: 15px 20px!important;
            font-size: 18px;
        }
    }
    .logo{
        height: 55px;
        padding: 0!important;
        position: absolute;
        top:0;
        left: calc(50% - 500px)!important;
        img{
            height: 55px;

        }
    }
}