.recommend{
    overflow: auto;
    margin-bottom: 30px;
    .title{
        h2{
            font-size: 16px;
            font-weight: bold;
            line-height: 36px;
            color: #333;
            border-bottom: #db6d4c 4px solid;   
            margin-bottom: 15px;  
        }
    }
    .ant-row{
        .ant-col-12{
            width: 50%;
            float: left;
            margin-bottom: 1px;
            .card{
                line-height: 20px;
                p{
                    overflow: hidden;
                    height: 56px;
                    color: #999;
                    margin: 0 0 10px;
                    font-size: 12px;
                }
                h2{
                    overflow: hidden;
                    margin: 10px 0 0 0;
                    height: 23px;
                    font-weight: 700;
                    font-size: 14px;
                }
                img{
                    float: left;
                    margin: 8px 0 0 -120px;
                    width: 110px;
                    height: 80px;
                    max-width: 100%;
                    border: 0;
                    border-radius: 5px;
                    vertical-align: middle;
                }
                a{
                    display: block;
                    margin-right: 1px;
                    padding: 5px 20px 2px 140px;
                    background-color: #fff;
                }
                a:hover{
                    background: #f7fdf3;
                    color: #81c53f;
                    text-shadow: none;
                }
            }
        }
    }
}