
*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body {
    overflow-x: hidden;
    margin: 0;
    background: #f1f1f1;
    color: #555;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    a{
        color: #555;
        text-decoration: none;
    }
    .u-breadcrumb{
        margin: 0;
    }
}
.container{
    max-width: 1200px;
    margin-top: 20px;
    margin-left: calc(50% - 600px);
    .ant-layout{
        .ant-layout{
            display: -webkit-box;
            display: -ms-flexbox;
            -webkit-box-flex: 1;
            -ms-flex: auto;
            flex: auto;
            -webkit-box-orient: vertical;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 0;
            background: #f0f2f5;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            box-sizing: border-box;
            .ant-layout-content{
                -webkit-box-flex: 1;
                margin-right: 15px;
            }
            .ant-layout-sider{
                width: 290px!important;
                max-width: 290px!important;
                min-width: 290px!important;
                flex: 0 0 290px!important;
                
            }
        }
    }
}
.about{
    margin: 0 10%;
    min-height: calc(~"100vh - 55px");
    background: #fff;
    padding: 10px;
    color: #515250;
    .u-timeline-item{
        .u-timeline-item-content{
            font-size: 14px;

        }
    }
    .about-content{
        padding: 20px;
        background: #fff;
        h2{
            font-size: 20px;
            height: 25px;
            line-height: 25px;
            border-left: .25rem solid #6bc30d;
            font-weight: 700;
            margin-bottom: 10px;
            padding-left:10px ;
        }
        span{
            display: block;
            padding-left: 18px;
        }
        ul{
            padding-left: 18px;
            li{
                line-height: 28px;
                code{
                    background: rgba(27,31,35,.05);
                    padding: .2rem .4rem;
                    color: #bd4147;
                    border-radius: 4px;
                    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
                }
            }
        }
        .first{
            margin: 20px 0;
            
        }
        .me{
            width: 50%;
        }
        
    }
}
.message{
    margin: 0 10%;
    min-height: calc(~"100vh - 55px");
    background: #fff;
    padding: 10px;
    .title{
        padding: 15px;
        margin-top: 1rem;
        text-align: center;
        h1{
            font-size: 400%;
            font-family: 'STXingkai';
        }
        .title1{
            display: block;
            margin-left: 2%;
            margin-top: 40px;
            font-size: 200%;
            font-family: 'STXingkai';
        }
    }
    
}
.study{
    
    .buttonGroup {
        display: inline-block;
        border: 1px solid #40465b;
        border-radius: 50px;
        overflow: hidden;
        margin-bottom: 30px;
    
        & > .u-button {
          background-color: #fff;
          border: 0;
          border-right: 1px solid #40465b;
          border-radius: 0;
          padding: 5px 22px;
    
          &:last-child {
            border-right: 0;
          }
    
          &.active,
          &:hover {
            color: #fff;
            background-color: #40465b;
          }
        }
        & > .u-button {
            width: 130px;
            @media (max-width:1132px){
              width: 120px;
            }
            @media (max-width:1102px){
              width: 110px;
            }
            @media (max-width:1062px){
              width: 100px;
            }
            @media (max-width:1032px){
              width: 96px;
            }
          }
      }
      .change-view{
        display: inline-block;
        margin-bottom: 4px;
        margin-left: 10px;
        color: rgba(215,215,215,1) ;
        position: relative;
        top: 3px;
        .cl-style-table{
          border-right: 1px solid #d7d7d7;
          cursor: pointer;
          font-size: 16px;
          color: rgba(215,215,215,1);
          padding: 5px 10px;
        }
  
        .cl-style-card{
          border-left: 1px solid #d7d7d7;
          cursor: pointer;
          font-size: 16px;
          color: rgba(215,215,215,1);
          padding: 5px 10px;
          margin-right: 5px;
        }
        .active-view{
          color: rgba(229,57,53,1);
          // padding: 6px 10px;
          border-radius: 5px;
          border: 0;
          // background-color: #dee9f4;
        }
    }
}